textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    min-height: 100px;
}

ul {
    list-style: none;
    padding:0px;
}

#user_response_area {
    margin-top: 20px;
}
#user_response_area .form-group {
    margin-top: 20px;
}
#login_btn,
#logout_btn {
    float: right;
}

#login_hint{
    margin-top: 20px;
}

.moderation_label {
    float: right;
    margin-right: 25px;
}
.user_data .form-group > input {
    width: 250px;
    margin-right: 25px;
}

.user_login {
    padding: 50px;
    text-align: center;
}

.admin_buttons {
    float: right;
    margin-right: 25px;
}

.thumbnail{
    max-width: 320px;
}
#list {
    clear: both;
}

.sort_posts {
    display: inline-block;
    margin-right: 10px;
    float: right;
    margin-bottom: 20px;

}
/*.sort_posts ul > li > a > span {*/
    /*margin-left: 50%;*/
/*}*/